footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;
    
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-ul-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.category{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    list-style: none;
}

.category-title{
    grid-column:auto;
    text-transform: capitalize;
    color: #fff;
    font-size: 25px;
}

.category .footer-link{
    text-decoration: none;
    text-transform: capitalize;
    padding-bottom: 10px ;
    color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover{
    color: #fff;
}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

